<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Salam <%= name %></h1>
    <h2>Weekly signals</h2>
    <% if (locals.signals) {%>
        <table>
            <% signals.forEach((signal) => { %>
                <tr>
                    <td><%= signal.Name %></td>
                    <td><%= signal.Symbol %></td>
                    <td><%= signal.Signal %></td>
                    <td><%= signal.Price %></td>
                    <td><%= signal.Date %></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <p>No signal this week</p>
    <% } %>

    <h2>Your Portfolio</h2>

</body>
</html>